# Ignore logs and temporary files
*.log
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db

# Backend (Spring Boot) specific ignores
my-file-server-back/target/
my-file-server-back/build/
my-file-server-back/.idea/
my-file-server-back/*.iml
my-file-server-back/.project
my-file-server-back/.classpath
my-file-server-back/.settings/
my-file-server-back/src/main/resources/application.yml
my-file-server-back/src/main/resources/application2.yml

# Frontend (React) specific ignores
my-file-server-front/node_modules/
my-file-server-front/build/
my-file-server-front/npm-debug.log*
my-file-server-front/yarn-debug.log*
my-file-server-front/yarn-error.log*
my-file-server-front/.env

# Ignore environment files
.env
*.env