.forumDetail {
    opacity: 0;
    align-items: left;
    background-color: aliceblue;
    width: 100%;
    height: 100%;

    margin-right: 10rem;
    margin-left: 10rem;
    transition: transform 0.5s ease;
    transform: translateX(100%); /* 처음 위치는 화면 밖 오른쪽 */
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.sliding {
    transform: translateX(0); /* 페이지가 오른쪽에서 왼쪽으로 슬라이드 */
    opacity: 1; /* 페이지가 보이게 됨 */
}


.title{
    border-bottom: 4px solid rgba(127, 176, 255, 0.841);
    padding-bottom: 0.5em;
    margin-bottom: 10px;

}

.container{
    margin-top: 4em;
    margin-left: 2em;
    margin-right: 2em;
}


.containerHeader{
    color: rgb(127, 176, 255);
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.containerContent{
    font-size: 18px;
    min-height: 18em;
}

.containerWrite{
    display: flex;
    margin: 1.5rem 0;
    padding: 1.5rem 2rem;
    background-color: rgb(219, 233, 255);
    border-radius: 10px;
    min-height: 50px;
    min-width: 500px;
    /* align-items: center; */
    justify-content: space-between;
    
}

.containerWrite textarea{
    resize: none;
    overflow: hidden;
    border: none;
    border-radius: 8px;
    font-family: 'Pretendard-Regular';
    font-size: 16px;
    width: 80%;
    padding: 0.5em;
    padding-bottom: 0em;
}

.containerWrite button{
    padding: 1rem 1.5rem;
    max-height: 55px;
    border-radius: 8px;
    /* text-align: center; */
    border: none;
    background-color: rgb(161, 197, 255);
    color: white;
    
    
}



.containerFooter{
    display: flex;
    justify-content: flex-end;
    color: rgb(127, 176, 255);
    border-bottom: 4px solid rgba(127, 176, 255, 0.8);
    padding-bottom: 0.5em;

}