.forumCreate{

    background-color: aliceblue;
    width: 100%;
    height:100%;
    margin-right: 10rem;
    margin-left: 10rem;
    transition: all 0.8s ease-out;
    padding-top: 3rem;
    padding-bottom: 3rem;
    overflow-x: hidden;

}



@keyframes move-clouds {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}


.cloud {
    background: url('/public/Pink Cloud, Pink ink clouds, pink clouds transparent background PNG clip_Edited.png') no-repeat;
    background-size: contain;
    /* width: 150px; */
    height: 100px;
    animation: move-clouds 25s linear infinite;
    opacity: 0.5;
}



.container{
    margin-top: 4em;
    margin-left: 2em;
    margin-right: 2em;
}


.itemTitle{
    color: rgb(127, 176, 255);
    padding-bottom: 10px;
}

.explain{
    font-size: 15px;
    color: #393939;
    margin-bottom: 10px;
}

.letterLength{
    display: flex;
    justify-content: space-between;
    /* text-align: right; */
    width: 81%;
    margin-top: 5px;
    font-size: 13px;
    color: rgba(127, 176, 255, 0.657);
}

.forumCreate input{
    width: 80%;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    outline: none;
    padding: 0.5em 0.5em;
    transition: all 0.3s ease;
}

.forumCreate input:focus {
    outline: none;
    border: 2px solid rgb(161, 197, 255);
    scale: 1.01;
}




.containerHeader{
    display: flex;
    justify-content: space-between;
    color: rgb(127, 176, 255);
}

.forumCreate button{
    padding: 0.5rem 1.5rem;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: rgba(161, 197, 255, 0.699);
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;
    letter-spacing: 2px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    
}

.forumCreate button:hover{
    
    background-color: rgb(139, 184, 255);
    box-shadow: 0 5px 8px 3px rgba(0, 0, 0, 0.1);
    transform: translateY(-10%);

}


.fileUploadBtn{
    margin-bottom: 10px;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(192, 216, 255);
    color: white;
    font-weight: bold;
    border-radius: 4px;
    transition: all 0.3s ease;
    text-align: center;
}


  .fileUploadBtn:hover{
    background-color: rgb(139, 184, 255);
    box-shadow: 0 5px 8px 3px rgba(0, 0, 0, 0.1);
    transform: translateY(-10%);
  }
