.container{
    width: 100vw;
    min-height: 100vh;
    overflow: auto;
}
.header{
    position: fixed;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* main과 맞출 것! */
    height: 5vh;
    background-color: rgb(192, 216, 255);
    color: white;
}
.title{
    padding-left:5vw;
}
.hambuger{
    color:white;
    background:transparent;
    border:none;
    font-size:25px;
    font-weight:bolder;
}
.headerButtonContainer{
    padding-right: 3vw;
    
}

.facker{
    height: 5vh;
}
.main{
    /* header와 맞출 것! */
    min-height: 95vh;
}


  

.userButton{
    justify-self: flex-end;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
