.download{
  height: 30px;
    padding: 5px 10px;
    border: none;
    background-color: rgb(169, 189, 223);
    border-radius: 4px;
    transition: background-color 0.1s ease-in;
  }
.download:hover{
    background-color: rgb(135, 152, 182);
  }
.downloadBtn{
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: white;
  font-weight: bold;
}

.downloadCount{
    font-size: 13px;
  }
.time{
    font-size: 13px;
  }



  .table {
    width: 100%;
  }
  
  .thead {
    background-color: rgb(169, 189, 223);
    color: white;
  }
  
  .thead th {
    padding: 10px;
  }



.title{
  width: 400px;
}
.downloadCount{
  text-align: center;
}
.time{
  text-align: center;
  font-size: 13px;
}

.customFileUpload {
  cursor: pointer;
  display: inline-block;
  position: relative;
}





















.customUploadButton {
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(131, 146, 173);
  color: white;
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  text-align: center;
}

.customUploadButton:hover {
  background-color: rgb(135, 152, 182);
}

input[type="file"] {
  position: absolute;
  opacity: 0; /* 숨기기 */
  cursor: pointer;
}
.allText{
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: rgb(125, 154, 252);
}