.container{
    display: flex;
    flex-direction: column;
}

.table {
    width: 100vw;
}
.thead {
background-color: rgb(169, 189, 223);
color: white;
}
.thead th {
    padding: 10px;
    font-size: 15px;
}
.table tbody tr td {
    text-align: center;
    font-size: 13px;
}
.downloadBtn{
    border: none;
    background-color: rgb(169, 189, 223);
    border-radius: 4px;
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    height: 30px;
  }

  
  .footer{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 8%;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-around;
    bottom: 0;
  }

  .footer button{
    background-color: rgb(169, 189, 223);
    color: white;
    font-family: 'P';
    flex: 1;  
    font-weight: bold;
    border: none;
  }

