.modalBackground{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.486);
}
.modalContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 165px;
    background-color: rgb(192, 216, 255);
    background: radial-gradient(circle, rgb(192, 216, 255) 80%, rgb(151, 171, 203) 100%);
    border-radius: 20px;
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.3);
}

.modalContainer div:first-child{
    user-select: none;
    /* color: rgb(85, 85, 85); */
    padding: 10px;
    padding-top: 20px;
}
.modalContainer div article {
    display: flex;
    justify-content: center;
    align-items: center;
}
.input{
    padding-left: 10px;
    height: 24px;
    border: none;
    border-radius: 4px;
    box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.1); /* 안쪽 그림자 */
    transition-property: border-radius scale;
    transition-duration: 0.2s;
    margin-bottom: 10px;
}
.input:focus{
    outline: none;
    border-radius: 10px;
    scale: 1.05;
}

.privateCloudInput{
    box-shadow: none;
    margin-left: 10px;
    scale: 1.5;
}

.confirm , .cancle{
    margin-top: 13px;
    user-select: none;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    width: 80px;
    font-size: 16px;
    background-color: rgb(159, 194, 255);
    border: none;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.confirm:hover, .cancle:hover{
    background-color: rgb(139, 184, 255);
    box-shadow: 0 5px 8px 3px rgba(0, 0, 0, 0.1);
    transform: translateY(-10%);
}
/* 프로그래스 바 컨테이너 */
.progressBar {
    width: 90%;
    height: 25px;
    background-color: #e0e0e0;
    border-radius: 4px; /* 더 부드러운 모서리 */
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* 더 두드러진 그림자 */
    position: relative;
    margin: 20px auto; /* 가운데 정렬 및 여백 추가 */
  }
  
  /* 진행률 */
  .progress {
    height: 100%;
    background: linear-gradient(90deg, #4facfe, #a0faff); /* 그라데이션 색상 */
    border-radius: 4px 0 0 12px; /* 좌측 모서리만 둥글게 */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff; /* 텍스트 색상을 흰색으로 */
    font-weight: bold;
    font-size: 14px;
    transition: width 0.4s ease; /* 전환 속도를 살짝 더 빠르게 */
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); /* 텍스트에 살짝 그림자 */
  }