.container{
  padding-top: 4vw;
  padding-left: 4vw;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  height: 100vh;
}
.pageTitle{font-size: 24px;padding-bottom: 2%;}
/* 테이블 */
.thead {background-color: rgb(169, 189, 223);color: white;}
.thead th {padding: 10px;}
.download{
  height: 30px;
  padding: 5px 10px;
  border: none;
  background-color: rgb(169, 189, 223);
  border-radius: 4px;
  transition: background-color 0.15s ease-in;
}
.download:hover{background-color: rgb(135, 152, 182);}
.downloadBtn{
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: white;
  font-weight: bold;
}
.downloadCount{font-size: 13px;text-align: center;}
/* 주의 나중에 문제 각 테이블 파일 이름임 */
.title{width: 400px; color: rgb(0, 0, 0);}
.imageTitle{width: 400px; cursor: pointer; color: rgb(0, 0, 0);}
.time{text-align: center;font-size: 13px;}
.message{padding-bottom: 10px;}
.deleteFile{
  padding-top: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 30px;
  align-items: center;
}

.inputModal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.customUploadButton {
  margin-bottom: 10px;
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(192, 216, 255);
  color: white;
  font-weight: bold;
  border-radius: 4px;
  transition: all 0.3s ease;
  text-align: center;
}
.customUploadButton:hover{
  background-color: rgb(139, 184, 255);
  box-shadow: 0 5px 8px 3px rgba(0, 0, 0, 0.1);
  transform: translateY(-10%);
}

input[type="file"] {
  position: relative;
  width: 0px;
  opacity: 0;
  cursor: pointer;
}
.allText{
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: rgb(125, 154, 252);
}